<div
  [ngClass]="{ reminder: task.reminder }"
  class="task"
  (dblclick)="onToggle(task)"
>
  <h3>
    <h4 [ngClass]="{ markedDone: markedDone }">{{ task.title }}</h4>
    <div class="icons">
      <fa-icon
        (click)="onDelete(task)"
        [ngStyle]="{ color: 'red' }"
        [icon]="faTimes"
      ></fa-icon>
      <fa-icon
        (click)="onMarkedDone(task)"
        [ngStyle]="{ color: 'red' }"
        [icon]="faCheck"
      ></fa-icon>
      <fa-icon
        (click)="onEditTask(task)"
        [ngStyle]="{ color: 'red' }"
        [icon]="faEdit"
      ></fa-icon>
    </div>
  </h3>
  <p [ngClass]="{ markedDone: markedDone }">{{ task.day | date : "medium" }}</p>
</div>
